// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$active-color: #f79918;

body {
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: $active-color !important;
}

// Bootstrap Loading Skeleton
%loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    border-color: #eee;

    &::placeholder {
      color: transparent;
    }
}

@keyframes loading-skeleton {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;

    img {
      filter: grayscale(100) contrast(0%) brightness(1.8);
    }

    h1, h2, h3, h4, h5, h6,
    p, li,
    .btn,
    label,
    small,
    strong,
    a,
    span,
    .form-control {
      @extend %loading-skeleton;
    }
}

.search-input-wrapper {

    .search-input {
        padding-left: 2.6rem;
    }

    .search-input-icon {
        top: 8px;
        left: 15px;
        font-size: 20px;
    }
}

.menu-sidebar-canvas {
    width: 300px;
}

.content-wrapper {
    min-height: 80vh;

    #feature-posts-slider {
        margin-bottom: 1.5rem;

        .carousel-indicators {
            bottom: -5%;

            [data-bs-target] {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: rgba(0,0,0,.2);
                border: none;
                opacity: 1;
            }

            .active {
                background-color: #f79918;
            }
        }
    }

    .post-content {

        .post-author {

            .author-pic {
                width: 38px;
                height: 38px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .content, .content-sm {
            max-height: 70px;
            overflow: hidden !important;
        }

        .heading {
            max-height: 50px;
            overflow: hidden !important;
        }

        .heading-sm {
            max-height: 45px;
            overflow: hidden !important;
        }
    }

    .section-bg-img {
        width: 100% !important;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img-post-media-sm {
        width: 150px !important;
    }

    .img-post-media-lg {
        width: 250px !important;
        margin-right: 10px !important;
    }

    .img-card-popular-post {
        max-height: 250px;
        object-fit: cover;
    }
}

.next, .prev {

    .post-content {
        max-height: 65px;
        overflow: hidden;
    }
}

footer {

    .bro-bug-logo {

        img {
            width: 75px !important;
        }
    }
}

#back_to_top {
    position: fixed;
    width: 45px;
    right: 15px !important;
    bottom: 15px;
    background-color: $white;
    border-color: $active-color;
    color: $active-color;

    &:hover, &:focus {
        background-color: $active-color;
        color: $white;
    }
}

@media (max-width: 767px) {

    .post-content {

        .content-sm {
            max-height: 45px;
        }

        .heading-sm {
            height: 23px;
            overflow: hidden !important;
        }

        .post-author {

            .user-info-sm {

                strong, span {
                    display: block;
                    height: 23px;
                    overflow: hidden !important;
                }
            }
        }
    }

    .img-post-media-lg {
        width: 190px !important;
        margin-right: 0 !important;
    }

    .menu-sidebar-canvas {
        width: 225px;
    }
}
